.button {
    font-size: .7rem;
    padding: .6rem 1.2rem;
    letter-spacing: .1rem;
    background-color: transparent;
    border-radius: 22px;
    border: .5px solid black;
    cursor: pointer;
    transition: background-color .3s;
}

.button:hover {
    background-color: white;
}
