.container {
    display: flex;
    align-items: center;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.title {
    font-weight: 400;
    font-size: 1.5rem;
    letter-spacing: .03rem;
    /* font-family: 'Roboto Mono', monospace; */
    margin: 1rem 0;
    cursor: pointer;
    transition: color .3s;
}

.icon {
    transition: all .2s ease-in;
}

.expanded .icon {
    transform: rotate(45deg);
}

.bar {
    height: 2px;
    width: 15px;
    background-color: black;
    border-radius: 10px;
}

.top {
    transform: rotate(90deg) translate(2px, 0)
}

@media (min-width: 750px) {
    .expanded {
        margin-bottom: 1.5rem;
    }
}