.projects {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 5rem;
}

.projects h1 {
    opacity: 0;
    letter-spacing: .1rem;
    margin-bottom: 1rem;
    animation: slideUp .3s ease-in-out forwards;
}

.tagline-projects-container {
    display: flex;
    flex-direction: column;
}

.tagline {
    opacity: 0;
    font-size: 1.1rem;
    letter-spacing: .05rem;
    line-height: 1.5;
    /* color: rgb(113, 110, 145); */
    margin-bottom: 0;
    animation: slideUp .3s ease-in-out .2s forwards;
}

.resume-top {
    display: none;
}

.project-card-container {
    margin-top: 2rem;
}

.project-card {
    opacity: 0;
    animation: slideUp .3s ease-in-out forwards;
    animation-delay: calc((var(--position) + 1) * .1s);
    margin-bottom: 1rem;
}

@media (min-width: 600px) {
    .projects {
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .projects {
        margin-top: 4rem;
    }
}

@media (min-width: 1300px) {
    .tagline-projects-container {
        flex-direction: row;
    }

    .tagline {
        width: 40%;
        margin-top: 2.75rem;
        padding-right: 4rem;
    }

    .project-card-container {
        margin-top: 2rem;
        width: 60%;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(1.5rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}