.toggle {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 15px;
    z-index: 100;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 80%;
    background-color: black;
    border-radius: 10px;
    transition: all .2s ease-in;
}

.fixed {
    position: fixed
}

.top {
    width: 100%;
    background-color: rgb(113, 110, 145);
    transform: rotate(45deg) translate(2.5px, 2.5px);
}

.bottom {
    width: 100%;
    background-color: rgb(113, 110, 145);
    transform: rotate(-45deg) translate(5px, -6px);
}

.toggle:hover > .top,
.toggle:hover > .bottom {
    background-color: white;
}

@media (min-width: 600px) {
    .toggle {
        display: none;
    }
}