.toggle {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 18px;
    z-index: 10;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (min-width: 600px) {
    .toggle {
        display: none;
    }
}