.about {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.about h1 {
    opacity: 0;
    letter-spacing: .1rem;
    animation: slideUp .3s ease-in-out forwards;
    margin-bottom: 1rem;
}

.tagline {
    opacity: 0;
    font-size: 1.3rem;
    letter-spacing: .03rem;
    line-height: 1.5;
    animation: slideUp .3s ease-in-out .2s forwards;
    margin-bottom: 1.5rem;
}

.self-portrait {
    /* max-width: 200px; */
    width: 100%;
    opacity: 0;
    animation: slideLeft .3s ease-in-out .4s forwards;
    margin-bottom: 1.5rem;
}

.bio {
    opacity: 0;
    letter-spacing: .03rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    margin-top: 0;
    animation: slideUp .3s ease-in-out .6s forwards;
}

.buttons {
    opacity: 0;
    animation: slideUp .3s ease-in-out .8s forwards;
}

.resume {
    margin-left: 1rem;
}

@keyframes slideUp {
    0% {
        transform: translateY(1.5rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(1.5rem);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (min-width: 750px) {
    .about {
        width: 90%;
    }
}