.home {
    width: 100%;
    height: 100%;
    background-color: rgb(6, 4, 29);
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

.content {
    margin: 0 1.5rem 15rem 1.5rem;
}

.name {
    font-size: 1rem;
    font-weight: 600;
    color:rgb(113, 110, 145);
    margin-bottom: .75rem;
    margin-top: 10rem;
    letter-spacing: .1rem;
    opacity: 0;
    animation: slideUp .5s ease-in-out forwards;
}

.tagline {
    font-size: 2rem;
    color: white;
    letter-spacing: .2rem;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 2.5rem;
    opacity: 0;
    animation: slideUp .5s ease-in-out .3s forwards;
}

.button {
    opacity: 0;
    animation: slideRight .5s ease-in-out .8s forwards;
}

@media (min-width: 600px) {
    .content {
        width: 80%;
    }
}

@media (min-width: 750px) {
    .content {
        width: 75%;
    }

    .tagline {
        font-size: 2.2rem;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(1.5rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-1.5rem);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}