.nav {
    display: none
}

.active {
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #dd704e;
    /* position: fixed; */
    z-index: 10;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

@media (min-width: 600px) {
    .nav {
        display: flex;
    }

    .active {
        display: flex;
        position: relative;
        background-color: white;
    }

    .nav-links {
        flex-direction: row;
    }
}