.badge {
    display: flex;
    align-items: center;
    margin: 0 .5rem .2rem 0;
}

.bullet {
    margin-right: .2rem;
    font-size: .75rem;
}

.tech {
    font-size: .75rem;
    letter-spacing: .03rem;
    margin: 0;
}